{{if .ProtoFile.JavaPackage}}package {{.ProtoFile.JavaPackage}};
{{end}}
public class {{.JavaOuterClassName}} {
  {{range .ProtoFile.Services}}
  public interface {{.JavaClassName}} {
    {{range .Methods}}
    {{.JavaMethod}};
    {{end}}
  }
  {{end}}

  public static class Helidon {
    {{range .ProtoFile.Services}}
    public static class {{.JavaClassName}} {
      public static void update(io.helidon.webserver.Routing.Rules rules, {{$.JavaOuterClassName}}.{{.JavaClassName}} service) {
        {{range .Methods}}
        rules.post("{{.TwirpPath}}", (req, res) -> {});
        {{end}}
      }
    }
    {{end}}
  }
}
